{% extends 'rango/base.html' %}
{% load bootstrap3 %}
{% bootstrap_messages %}
{% block body_block %}
	<h1>Login to Rango</h1>

	<!--<div class="row">
      	<div class="col-md-12">
        	<div class="well well-sm">-->
				<form class="form-horizontal" id="login_form" method="post" role="form" action="/rango/login/">
				{% csrf_token %}
					{% bootstrap_messages warning %}
					{% bootstrap_form login_form layout="horizontal" %}
					{% buttons %}
        				<button type="submit" class="btn btn-primary">
            				{% bootstrap_icon "star" %} Login
        				</button>
    				{% endbuttons %}
				</form>
			<!--</div>
		</div>
	</div>-->

{% endblock %}
